* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    overflow-x: hidden;
}

body {
    font-family: "Barlow Semi Condensed", sans-serif;
    font-weight: 100;
    font-style: normal;
}

header, footer {
    background-color: black;
    color: antiquewhite;
    width: 100%;
    padding: 0 100px;
}

header {
    position: sticky;
    top: 0;
    left: 0;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container {
    margin:  0 auto;
    display: flex;
    align-items: center;
}

h1 {
    font-weight: lighter;
    text-transform: uppercase;
}

nav {
    margin: 0;
    display: flex;
    justify-content: right;
    align-items: flex-end;
}

nav li {
    list-style: none;
    display: inline;
    font-size: 17px;
    margin-left: 20px;
}

a {
    text-decoration: none;
    color: antiquewhite;
    cursor: pointer;
}

#about:target,
#products:target {
    padding-top: 110px;
    margin-top: -50px;
}

section {
    margin: 110px auto;
    width: 80vw;
}

section h2 {
    padding-bottom: 15px;
    margin-bottom: 35px;
    border-bottom: 3px solid black;
}

#about .container {
    justify-content: center;
    gap: 40px;
}

#about .container p,
#about img {
    max-width: 500px;
}

#products .container {
    display: block;
}

.product-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 60px;
}

.product-list li {
    list-style: none;
    height: 650px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.img-list {
    width: 100%;
}

.product-list img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

button {
    width: 100%;
    padding:  10px;
    border: none;
    background-color: black;
    color: antiquewhite;
    font-size:  15px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
}

.price {
    margin: 10px 0;
}

footer {
    height: 150px;
}

footer .container {
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.legal {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

footer li {
    list-style: none;
}

footer img {
    width: 30px;
}

footer .container > div {
    display: flex;
    flex-direction: column;
    justify-content: right;
}

footer .container > div li {
    margin-left: 10px;
    display: inline;
}

footer .container > div ul {
    margin-bottom: 10px;
    display: flex;
    justify-content: right;
}

@media screen and (min-width: 641px) and (max-width: 1023px) {
    /*tablet*/

    header, footer {
        padding: 0 60px;
    }

    #about .container {
        flex-direction: column;
    }
    
    #about .container p,
    #about img {
        max-width: 100%;
    }
    
    .product-list {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 640px) {
    /*phone*/

    header, footer {
        padding: 0 30px;
    }
    
    h1 {
        font-size: 27px;
    }

    nav li:nth-child(1) {
        display: none;
    }

    nav li {
        display: flex;
        justify-content: right;
        align-items: flex-end;
        font-size: 15px;
        margin: 4px 0;
    }

    section {
        margin: 60px auto;
    }
    
    #about .container {
        flex-direction: column;
    }
    
    #about .container p,
    #about img {
        max-width: 100%;
    }
    
    .product-list {
        display: block;
    }

    .product-list li {
        margin: 60px 0;
    }
    
    .legal {
        font-size: 15px;
    }
    
    footer .container > div li {
        margin-left: 5px;
    }

    footer .container > div ul {
        margin-bottom: 5px;
    }
}